@import url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2');
body{
    background-color: #f5f5f5;
    color: #333333;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
    color: #333ab7
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:blue;
}
a:visited{
    color:gray;
}

.avatar{
    width: 900px;
    height: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.container{
    max-width: 917px;
    padding: 9px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 15px;
}
.container1{
    max-width: 917px;
    margin: auto;
    color: #003e69
}
.container2{
    max-width: 400px;
    margin: auto;
    color: #003e69
}
.box-model{
    background:#004169 ;
    height: 35px;
    width: 2560px;
}